main{
    display: grid;
    grid-template-areas: "album";
    justify-content: center;
    align-items: center;
}

/* Esta es la clase del contenedor Section */
.album{
    grid-area: destacado;
}

main section{
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "h2"
                         ".";
    gap: 15px;
    margin-top: 5vh;
}

/* Esta es la clase del contenedor Section, se vuelve a llamar aquí a esta clase, para eliminar el margin-top seteado en el selector
   anterior (main section) */
.album{
    margin-top: 0;
}

main section div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ".";
    gap: 60px;
}

main section div article{
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "imagen"
                         "nombre"
                         "fecha";
    justify-items: center;
    align-items: center;
}

/* Esta es la clase del contenedor p, que se encutra dentro del article cuando JavaScript recorre la lista de ábumes y crea
   los nuevos article */
.article-nombre{
    grid-area: nombre;
}

.article-fecha{
    grid-area: fecha;
}

/* Esta es la clase del contenedor img, que se encutra dentro del article cuando JavaScript recorre la lista de álbumes y crea
   los nuevos article */
.img-article{
    grid-area: imagen;
    height: 250px;
    width: 250px;
}