/* Esta clase corresponde al contenedor DIV con classname .info-beinvenida */
.info-bienvenida{
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "h1"
                         "descripcion"
                         "btn";
    justify-items: center;
    align-items: center;
    gap: 10px;
}

/* Aquí se comienza a dar estilo al botón utilizado para el submit del login*/
.custom-btn {
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
               7px 7px 20px 0px rgba(0,0,0,.1),
               4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

/* Se le da estilo al botón de Login */
.btn-2 {
    width: 140px;
    height: 40px;
    background: rgb(3, 18, 41);
    background: linear-gradient(0deg, rgb(3, 18, 41) 0%, rgba(2,126,251,1) 100%);
    border: none;
}

.btn-2:before {
    height: 0%;
    width: 2px;
}

.btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}